/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    padding: 0 1rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 24px;
    max-width: 400px;
    max-height: 100vh;
    border-radius: 12px;
    overflow-y: auto;
    box-sizing: border-box;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.0784313725490196)
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    color: #00CB8B;
    border: 0;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: #202020;
}

.modal__content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.modal__content h1,
.modal__content h2,
.modal__content h3,
.modal__content h4 {
    font-weight: 600;
}

a.modal__btn,
.modal__btn {
    display: block;
    height: 40px;
    width: 100%;
    padding: 1.125rem 1rem 1rem 1rem;
    font-family: 'Sailec', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background-color: transparent;
    color: #202020;
    text-align: center;
    border-radius: 25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 1rem 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: all .0625s ease-out;
}

a.modal__btn:hover,
a.modal__btn:active {
    text-decoration: none;
}

.modal__btn:first-child {
    margin-top: 0;
}

.modal__btn:last-child {
    margin-bottom: 0;
}

#speedbump-modal a.modal__btn-primary,
#speedbump-modal .modal__btn-primary,
a.modal__btn-primary,
.modal__btn-primary {
    color: #FFFFFF;
    background-color: #00CB8B;
}

#speedbump-modal a.modal__btn-primary:focus,
#speedbump-modal .modal__btn-primary:hover,
.modal__btn-primary:focus,
.modal__btn-primary:hover {
    -moz-box-shadow: 2px 2px 6px rgba(32, 32, 32, 0.498039215686275);
    -webkit-box-shadow: 2px 2px 6px rgba(32, 32, 32, 0.498039215686275);
    box-shadow: 2px 2px 6px rgba(32, 32, 32, 0.498039215686275);
}

#speedbump-modal a.modal__btn-primary:active,
.modal__btn-primary:active {
    -moz-box-shadow: 0px 0px 0px rgba(32, 32, 32, 0);
    -webkit-box-shadow: 0px 0px 0px rgba(32, 32, 32, 0);
    box-shadow: 0px 0px 0px rgba(32, 32, 32, 0);
    background-color: #006b43;
}

#speedbump-modal a.modal__btn-tertiary,
#speedbump-modal .modal__btn-tertiary,
a.modal__btn-tertiary,
.modal__btn-tertiary {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: #202020;
}

#speedbump-modal a.modal__btn-tertiary:focus,
#speedbump-modal .modal__btn-tertiary:hover,
.modal__btn-tertiary:focus,
.modal__btn-tertiary:hover {
    border-color: rgba(0, 0, 0, 0.0625)
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}